/* Example styling only for the trainee popup window */
.o_web_client .oe_stat_button {
    background-color: #F2F0EF;
    min-height:80px


}

.o_web_client .oe_stat_button :hover {
    background-color: yellow;
    color:black;



}
